In [1]:
import pandas as pd
# Ontario Covid-19 data in csv
data_url1 = 'https://bit.ly/3sVfqbF'
data_url2 = 'https://bit.ly/39e8LRV'

In [4]:
df = pd.read_csv(data_url1)

In [2]:
df2=pd.read_csv(data_url2)

In [ ]:
df.columns

In [6]:
df.set_index('Date', inplace=True)

### select multiple columns
> `df[['Col1', 'Col2','ColN']]`

In [ ]:
df[['York_Region_Public_Health_Services','Toronto_Public_Health','Peel_Public_Health']].plot(figsize=(15,8))

In [ ]:
df.Total.plot(figsize=(15,8))

In [ ]:
df2.columns

### remove spaces from column headers
> `df.columns = df.columns.str.replace(' ','_')`

In [38]:
df2.columns = df2.columns.str.replace(' ','_')

In [39]:
df2

,Reported_Date,Confirmed_Negative,Presumptive_Negative,Presumptive_Positive,Confirmed_Positive,Resolved,Deaths,Total_Cases,Total_patients_approved_for_testing_as_of_Reporting_Date,Total_tests_completed_in_the_last_day,Percent_positive_tests_in_last_day,Under_Investigation,Number_of_patients_hospitalized_with_COVID-19,Number_of_patients_in_ICU_with_COVID-19,Number_of_patients_in_ICU_on_a_ventilator_with_COVID-19,Total_Positive_LTC_Resident_Cases,Total_Positive_LTC_HCW_Cases,Total_LTC_Resident_Deaths,Total_LTC_HCW_Deaths
0,2020-01-26,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2020-01-27,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2020-01-28,NaN,NaN,1.0,1.0,NaN,NaN,1.0,NaN,NaN,NaN,11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2020-01-30,NaN,NaN,0.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN,27,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2020-01-31,NaN,NaN,0.0,2.0,NaN,NaN,2.0,NaN,NaN,NaN,17,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
349,2021-01-20,NaN,NaN,NaN,26467.0,212897.0,5568.0,244932.0,9054585.0,54307.0,4.9,48963,1598.0,395.0,296.0,13549.0,5375.0,3274.0,10.0
350,2021-01-21,NaN,NaN,NaN,26063.0,215887.0,5614.0,247564.0,9124841.0,70256.0,4.3,52871,1533.0,388.0,293.0,13647.0,5430.0,3307.0,10.0
351,2021-01-22,NaN,NaN,NaN,25263.0,219262.0,5701.0,250226.0,9196591.0,71750.0,3.3,41819,1512.0,383.0,291.0,13746.0,5494.0,3350.0,10.0
352,2021-01-23,NaN,NaN,NaN,24545.0,222287.0,5753.0,252585.0,9260044.0,63453.0,4.5,37847,1501.0,395.0,299.0,13854.0,5556.0,3375.0,10.0
353,2021-01-24,NaN,NaN,NaN,24153.0,225046.0,5803.0,255002.0,9308991.0,48947.0,4.2,23995,1436.0,392.0,301.0,13996.0,5595.0,3400.0,10.0

In [41]:
df2.columns

Index(['Reported_Date', 'Confirmed_Negative', 'Presumptive_Negative',
       'Presumptive_Positive', 'Confirmed_Positive', 'Resolved', 'Deaths',
       'Total_Cases',
       'Total_patients_approved_for_testing_as_of_Reporting_Date',
       'Total_tests_completed_in_the_last_day',
       'Percent_positive_tests_in_last_day', 'Under_Investigation',
       'Number_of_patients_hospitalized_with_COVID-19',
       'Number_of_patients_in_ICU_with_COVID-19',
       'Number_of_patients_in_ICU_on_a_ventilator_with_COVID-19',
       'Total_Positive_LTC_Resident_Cases', 'Total_Positive_LTC_HCW_Cases',
       'Total_LTC_Resident_Deaths', 'Total_LTC_HCW_Deaths'],
      dtype='object')

### remove unnecessary columns

> `df.drop(columns=['Col1','Col2','ColN'], inplace=True)`

In [43]:
df2.drop(columns=['Presumptive_Negative','Presumptive_Positive','Total_patients_approved_for_testing_as_of_Reporting_Date',
       'Total_tests_completed_in_the_last_day',
       'Percent_positive_tests_in_last_day'], inplace=True)

In [44]:
df2.columns

Index(['Reported_Date', 'Confirmed_Negative', 'Confirmed_Positive', 'Resolved',
       'Deaths', 'Total_Cases', 'Under_Investigation',
       'Number_of_patients_hospitalized_with_COVID-19',
       'Number_of_patients_in_ICU_with_COVID-19',
       'Number_of_patients_in_ICU_on_a_ventilator_with_COVID-19',
       'Total_Positive_LTC_Resident_Cases', 'Total_Positive_LTC_HCW_Cases',
       'Total_LTC_Resident_Deaths', 'Total_LTC_HCW_Deaths'],
      dtype='object')

### rename long column header name
> `df.rename(columns={'old_name1':'new_name1','old_name2':'new_name2'}, inplace=True)`

In [46]:
df2.rename(columns={'Number_of_patients_hospitalized_with_COVID-19':'Hospitalized',
                    'Number_of_patients_in_ICU_with_COVID-19':'In_ICU',
                    'Number_of_patients_in_ICU_on_a_ventilator_with_COVID-19':'On_Ventilator',
                    'Total_Positive_LTC_Resident_Cases':'LTC_Cases', 'Total_Positive_LTC_HCW_Cases':'LTC_HCW',
                    'Total_LTC_Resident_Deaths':'LTC_Deaths', 'Total_LTC_HCW_Deaths':'LTC_HCW_Deaths'}, inplace=True)

In [51]:
df2.fillna(0, inplace=True)

In [71]:
df2.set_index('Reported_Date',inplace=True)

In [81]:
df2.drop(columns=('index'), inplace=True)

In [88]:
df2.columns

Index(['Confirmed_Negative', 'Confirmed_Positive', 'Resolved', 'Deaths',
       'Total_Cases', 'Under_Investigation', 'Hospitalized', 'In_ICU',
       'On_Ventilator', 'LTC_Cases', 'LTC_HCW', 'LTC_Deaths',
       'LTC_HCW_Deaths'],
      dtype='object')

### Convert data type of multiple columns
> `df = df.astype({'Col1':'datatype','Col2':'datatype','ColN':'datatype'})`

### Create a datetime column from a subset of columns
> `pd.to_dateime(df[['monthCol', 'dayCol','yearCol']])`

### Apply multiple aggregations on a DataFrame
> `df.groupby('Column').'Column2'.agg(['mean','min','max])`

**Series** 
> `df.Column.agg(['mean','min','max])`

**DataFrame**
> `df.agg(['mean','min','max])`